.timerWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* gap: 6px; */
}

.timerLabel {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  opacity: 0.9;
  gap: 8px;
}

.dot {
  width: 6px;
  height: 6px;
  background-color: #57c047;
  border-radius: 50%;
}

.timerValue {
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 2px;
  margin-top: -9px;
}

@media (min-width: 844px) {
  .timerValue {
    font-size: 39px;
  }
}

@media (min-width: 1024px) {
  .timerLabel {
    font-size: 15px;
  }
  .timerValue {
    font-size: 42px;
  }
}

@media (min-width: 1512px) {
  .timerLabel {
    font-size: 16px;
  }
  .timerValue {
    font-size: 49px;
  }
}
