.card {
  width: 239px;
  height: 57.46px;
  position: relative;
  padding-left: 9px;
  display: flex;
  align-items: center;
  /* background-color: red; */
}

.cardBg {
  z-index: -1;
  position: absolute;
  top: 10px;
  left: 32px;
  transform: scale(1.325);
  /* background-color: rgba(240, 248, 255, 0.066); */
}

.userImage {
  border-radius: 9999px;
  width: 40px;
  height: 40px;
}

.userName {
  font-family: 14px;
  font-weight: 400;
}

.units {
  font-weight: 600;
  font-size: 11px;
}
